#map {
  height: 300px;  /* The height is 300 pixels */
  width: 100%;  /* The width is the width of 90% of the web page */
  padding :auto
  align: center;
}

body  {
  background-image: url("curves bcknd.jpg");
  background-size: cover;
}
.name-of-place{
  color: black;
}
h1{
  color: White;
  text-align: center;
  margin-top: 50px;
  font-family: 'Architects Daughter';
  font-size: 55px;

}

h2{
  color: white;
  font-weight: bold;
  text-align: center;
}

h3{
  color: black;
  font-weight: bold;
  font-family: 'Architects Daughter';
}
h4{
  color: white;
  font-weight: bold;
  font-family: 'Architects Daughter';
}
a{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  font-family: 'Architects Daughter';
  color: #0033cc
}
#list-of-places-by-areas{
  margin: 25px 50px 75px;
}
#form{
  text-align: center;
}
#bottom {
  font-family:'Architects Daughter';
  font-weight: bold;
  color: green;
  font-size: 30px;
  text-align: center;
  /*margin: 10px 150px 20px;*/
}
